# .NET
bin/
obj/
*.user
*.suo
*.rsuser

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# Logs
*.log

# Database local
*.db
*.sqlite
*.sqlite3

# Environment
.env
appsettings.Local.json

# OS
.DS_Store
Thumbs.db 

*.db
*.db-shm
*.db-wal

# Godot
**/.godot/
**/.mono/
**/bin/
**/obj/

# Godot exports
**/export/
**/build/
