# Ambiente virtual
.venv/
venv/

.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ferramentas e IDEs
.idea/
.vscode/
.pytest_cache/
.mypy_cache/

# Sistema operacional
.DS_Store
Thumbs.db

# Modelos e resultados gerados
models/*
reports/figures/*
reports/metrics/*

!models/.gitkeep
!reports/figures/.gitkeep
!reports/metrics/.gitkeep
